[*.cs]

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# EF1001: Internal EF Core API usage.
dotnet_diagnostic.EF1001.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CA1716: 标识符不应与关键字匹配
dotnet_diagnostic.CA1716.severity = none

# IDE0058: 永远不会使用表达式值
csharp_style_unused_value_expression_statement_preference = unused_local_variable:silent

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = suggestion

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = suggestion

# IDE0052: 删除未读的私有成员
dotnet_diagnostic.IDE0052.severity = suggestion

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = suggestion

# SA1408: Conditional expressions should declare precedence
dotnet_diagnostic.SA1408.severity = suggestion

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# CS0618: 类型或成员已过时
dotnet_diagnostic.CS0618.severity = suggestion

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = none

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = suggestion

# CA1307: 指定 StringComparison
dotnet_diagnostic.CA1307.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# CA1819: 属性不应返回数组
dotnet_diagnostic.CA1819.severity = none

# CA1062: 验证公共方法的参数
dotnet_diagnostic.CA1062.severity = none
