[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CA1062: 验证公共方法的参数
dotnet_diagnostic.CA1062.severity = none

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = none

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# CA1720: 标识符包含类型名称
dotnet_diagnostic.CA1720.severity = none

# CA1810: 以内联方式初始化引用类型的静态字段
dotnet_diagnostic.CA1810.severity = none

# CA5369: 将 XmlReader 用于反序列化
dotnet_diagnostic.CA5369.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none
